---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { LocationMenuItems } from "../data/MenuItems.js";
import Footer from "../components/Footer.astro";
import { AppConfig } from "../utils/AppConfig";

// import { Image } from "astro:assets";
// import sagImage from "../assets/duncan-kidd-_w0ETDhqEBc-unsplash.jpg";
// import florImage from "../assets/gabriela-testa-8Y6-Ewhp2g8-unsplash.jpg";

const { title: siteTitle, description, ogImage } = AppConfig;
const title = `Home | ${siteTitle}`;
---

<Layout title={title} description={description} ogImage={ogImage}>
  <p>Travel with us, semi-bougie millenial Brooklynites, to...</p>
  <section class="full-width-scrollable">
    <ul>
      {
        LocationMenuItems.map(
          ({ image, slug, title, subtitle, comingSoon }) => (
            <li>
              <Card
                image={image}
                height={900}
                href={`/${slug}/`}
                title={title}
                subtitle={subtitle}
                transitionName={slug}
                comingSoon={comingSoon}
              />
            </li>
          )
        )
      }
    </ul>
  </section>
  <!-- <section class="full-width-scrollable">
		<h2>By interest</h2>
		<ul>
			<li>
				<Image
					src={sagImage}
					height="900"
					alt="Sagrada Familia by Duncan Kidd"
				/>
				<h3>Architecture</h3>
			</li>
			<li>
				<Image
					src={florImage}
					height="900"
					alt="Sagrada Familia by Gabriela Testa"
				/>
				<h3>Flora</h3>
			</li>
			<li>
				<Image
					src={sagImage}
					height="900"
					alt="Sagrada Familia by Duncan Kidd"
				/>
				<h3>Dessert Tours</h3>
			</li>
			<li>
				<Image
					src={sagImage}
					height="900"
					alt="Sagrada Familia by Duncan Kidd"
				/>
				<h3>Fine Dining</h3>
			</li>
			<li>
				<Image
					src={sagImage}
					height="900"
					alt="Sagrada Familia by Duncan Kidd"
				/>
				<h3>Walking Tours</h3>
			</li>
			<li>
				<Image
					src={sagImage}
					height="900"
					alt="Sagrada Familia by Duncan Kidd"
				/>
				<h3>Boutiques</h3>
			</li>
		</ul> -->
</Layout>
<Footer />

<style>
  .full-width-scrollable {
    width: 100%;
    overflow: scroll;
  }
  p {
    padding-left: var(--space-l);
    margin: var(--space-m) 0;
  }
  @media screen and (min-width: 768px) {
    p {
      padding-left: var(--space-xl);
    }
  }
  ul {
    display: flex;
    margin: 0;
    padding-left: var(--space-l);
  }
  @media screen and (min-width: 768px) {
    ul {
      padding-left: var(--space-xl);
    }
  }
  li {
    padding-right: var(--space-l);
  }
  @media screen and (min-width: 768px) {
    li {
      padding-right: var(--space-xl);
    }
  }
  li a {
    text-decoration: none;
  }
  li img {
    height: 450px;
    width: auto;
    display: block;
    box-shadow: 1.5rem 1rem 2rem rgba(0, 0, 0, 0.25);
  }
</style>
