---
import { Image } from "astro:assets";

const {
  comingSoon,
  height,
  hideTitle = false,
  image: { alt, src },
  title,
  subtitle,
  transitionName,
} = Astro.props;
---

<div class:list={[{ "coming-soon": comingSoon }]}>
  <Image
    class={"image"}
    src={src}
    height={height}
    alt={alt}
    transition:name=`${transitionName}-image`
  />
  <h2
    class:list={["title", { hide: hideTitle, comingSoon: comingSoon }]}
    transition:name=`${transitionName}-title`
  >
    {title},
    <span class="subtitle">{subtitle}</span>
  </h2>
</div>

<style>
  .coming-soon {
    opacity: 0.5;
  }
  .title {
    margin: var(--space-l) 0 0 -5px;
    display: flex;
    flex-direction: column;
    font-size: var(--font-xl);
    line-height: var(--line-l);
    font-weight: 300;
  }
  .title.hide {
    display: none;
  }
  .subtitle {
    font-size: var(--font-s);
    line-height: var(--line-s);
    font-weight: 500;
    margin-left: 4px;
  }

  .image {
    height: auto;
    width: 100%;
    display: block;
    margin-bottom: 0;
    box-shadow: 1.5rem 1rem 2rem rgba(0, 0, 0, 0.25);
    transition: transform 0.5s;
  }
  @media screen and (min-width: 768px) {
    .image {
      min-width: 100%;
    }
  }
</style>
