---
import { Image } from "astro:assets";

interface Props {
    height: number;
    title: string;
    transitionName: string;
    image: {
        alt: string;
        src: ImageMetadata;
    }
    hideTitle?: boolean;
    comingSoon?: boolean;
    responsive?: boolean;
}

const { comingSoon, height, hideTitle = false, image : { alt, src}, title, transitionName, responsive = false } = Astro.props;

---

<Image class:list={[{ 'coming-soon': comingSoon, responsive } ]}  src={src} height={height} alt={alt} transition:name=`${transitionName}-image` />
<h3 class:list={['card-title', { hide: hideTitle, comingSoon: comingSoon } ]} transition:name=`${transitionName}-title`>{title}</h3>

<style>
    .coming-soon {
        opacity: 0.5;
    }
	.card-title {
        opacity: 0.5;
		font-weight: 100;
		margin-top: 1rem;
		font-size: 3rem;
		line-height: 1;
        margin-left: -5px;
		display: inline-block;
	}
    .card-title.hide {
        display: none;
    }
    img {
        height: auto;
        width: 22vw;
        display: block;
        margin-bottom: 0;
        box-shadow: 1.5rem 1rem 2rem rgba(0, 0, 0, 0.25);
        transition: transform 0.5s;
        /* -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s; */
    }
    .responsive {
        /* height: auto;
        width: 100%; */
    }
    @media screen and (min-width: 768px) {
        .responsive,
        img {
            /* height: 450px; */
            /* max-height: calc(100vh - 128px - 166px); */
            /* width: auto; */
        }
    }
</style>
