---
import Layout from './Layout.astro';
import Card from "../components/Card.astro";

import { LocationMenuImages } from "../data/MenuImages"
import InstagramLink from "../components/InstagramLink.astro";
import TiktokLink from "../components/TiktokLink.astro";

const { frontmatter : { title, slug, guide }} = Astro.props;

const locationImage = LocationMenuImages[guide]
const { artistName, url, alt } = locationImage

---
<Layout title={`${title} | Now Departing NYC`}>
    <main class="headerOffset">
        <div class="left-rail">
            <Card
                image={locationImage}
                height={900}
                href=`\${guide}`
                title={title}
                transitionName={guide}
                hideTitle
                responsive
            />
            { artistName && url &&
                <small class="imageCredit"><a href={url} target="_blank" rel="nofollow noreferrer noopener">{alt}</a></small>
            }
        </div>
        <article class="article">
            <slot />
            <h3> Thanks for reading</h3>
            <p>
                If you have corrections or suggestions, please DM me on social
                <InstagramLink />
                <TiktokLink />.
            </p>
            <p>I hope you find our recommendations useful. Our travel guides are meant to assist folks with similar interest and tastes as <a href="/about">us</a>, somewhat bougie, somewhat thrifty millennial DINKs with Brooklyn quality expectations, find relevant and useful travel information in one place.</p>
        </article>
        <nav class="right-rail">
            <div class="guide-nav">
                <h3>In this guide to <a href="/barcelona">Barcelona, Spain</a>:</h5>
                <ul>
                    <li><a href="/barcelona/what-to-wear-in-barcelona-in-september">What to Wear in Barcelona In September</a></li>
                    <li><a href="/article/">Cool Boutiques in Barcelona</a></li>
                    <li><a href="">Barcelona's Best Skate Shops</a></li>
                    <li>
                        <a href="">Curated Book & Magazine Stores in Barcelona</a>
                    </li>
                    <li><a href="">Exceptional Restaurants in Barcelona</a></li>
                    <li><a href="">Must-Try Desserts in Barcelona</a></li>
                    <li>
                        <a href=""
                            >A Day in Gothic Quarter, Barcelona, Self-Guided Walking
                            Tour</a>
                    </li>
                    <li>
                        <a href=""
                            >A Day in Eixample, Barcelona, Self-Guided Walking Tour</a>
                    </li>
                    <li>
                        <a href="">Must See Architecture and Art in Barcelona</a>
                    </li>
                    <li>
                        <a href="">Top 10 Must-Knows Before You Visit Barcelona</a>
                    </li>
                </ul>
            </div>
        </nav> 
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        padding: 0 28px;
    }
</style>
<script type="text/javascript">
    // To open Mardown links in a new tab
    !function(){for(var e=document.body.getElementsByTagName("a"),t=e.length,n=0;n<t;n++)new URL(e[n].href).origin!==location.origin&&e[n].setAttribute("target","_blank")}();
</script>