---
import Layout from './Layout.astro';
import Card from "../components/Card.astro";

import { LocationMenuImages } from "../data/MenuImages"
import FooterContent from "../components/FooterContent.astro";
import InstagramLink from "../components/InstagramLink.astro";
import TiktokLink from "../components/TikTokLink.astro";

const { frontmatter : { title, slug, guide }} = Astro.props;

const locationImage = LocationMenuImages[guide]
const { artistName, url, alt } = locationImage

const postPath = `/src/pages/${guide}`;
const allPosts = await Astro.glob(`../**/*.md`);
const postsInGuide = allPosts.filter(post => post.file.includes(postPath));

---
<Layout title={`${title} | Now Departing NYC`}>
    <main class="headerOffset">
        <div class="left-rail">
            <Card
                image={locationImage}
                height={900}
                href=`\${guide}`
                title={title}
                transitionName={guide}
                hideTitle
                responsive
            />
            { artistName && url &&
                <small class="imageCredit"><a href={url} target="_blank" rel="nofollow noreferrer noopener">{alt}</a></small>
            }
        </div>
        <article class="article">
            <slot />
            <h3> Thanks for reading</h3>
            <p>
                If you have corrections or suggestions, please DM me on social
                <InstagramLink />
                <TiktokLink />.
            </p>
            <p>I hope you find our recommendations useful. Our travel guides are meant to assist folks with similar interests and tastes as my husband and I, somewhat bougie, somewhat thrifty millennial DINKs with Brooklyn quality expectations, to find relevant travel information in one place.</p>
        </article>
        <nav class="right-rail">
            { postsInGuide && 
                <div class="guide-nav">
                    <h3>In this guide</h5>
                    <ul>
                        {postsInGuide.map( ( { url, frontmatter: { title }}) => ( 
                            <li><a href={url}>{title}</a></li>
                        ))}
                    </ul>
                </div>
            }
            <footer>
                <FooterContent />
            </footer>
        </nav>
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        padding: 0 28px;
    }
    footer {
        margin-top: 45px;
    }
</style>
<script type="text/javascript">
    // To open Mardown links in a new tab
    !function(){for(var e=document.body.getElementsByTagName("a"),t=e.length,n=0;n<t;n++)new URL(e[n].href).origin!==location.origin&&e[n].setAttribute("target","_blank")}();
</script>