---
import { AppConfig } from "../utils/AppConfig";
import Layout from "./Layout.astro";
import { LocationMenuImages } from "../data/MenuImages";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import ArticleList from "../components/ArticleList.astro";
import NextUp from "../components/NextUp.astro";
import Thanks from "../components/Thanks.astro";

const {
  frontmatter: { description, guide, ogImage: ogImgPath, title, urlPath },
} = Astro.props;

const { title: siteTitle, url: siteUrl } = AppConfig;
const ogTitle = `${title} | ${siteTitle}`;
const ogImage = `${siteUrl}${ogImgPath}`;

const locationImage = LocationMenuImages[guide];
const { artistName, url, alt } = locationImage;

const articlePath = `/src/pages/${guide}`;
const guideHref = `\\${guide}\\`;

const allArticles = await Astro.glob(`../**/*.md`);
const articlesInGuide = allArticles.filter((article) =>
  article.file.includes(articlePath)
);

const nextArticle = articlesInGuide.find((_, index) => {
  const lastArticle = articlesInGuide[articlesInGuide.length - 1].url;
  const nextArticle = articlesInGuide[index - 1]?.url;
  if (
    urlPath === lastArticle || // if current is last article in list, return first article, which is first article tested
    urlPath === nextArticle // otherwise return next article
  ) {
    return true;
  } else return false;
});
---

<Layout title={ogTitle} description={description} ogImage={ogImage}>
  <main class="container headerOffset">
    <div class="left-rail">
      <Card
        image={locationImage}
        height={900}
        href={guideHref}
        title={title}
        transitionName={guide}
        hideTitle
        responsive
      />
      {
        artistName && url && (
          <small class="imageCredit">
            <a href={url} target="_blank" rel="nofollow noreferrer noopener">
              {alt}
            </a>
          </small>
        )
      }
    </div>
    <article class="article">
      <slot />
      <ArticleList articles={articlesInGuide} currentURLPath={urlPath} />
      <NextUp {...nextArticle} />
      <Thanks />
    </article>
  </main>
  <Footer />
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-l);
  }
  @media screen and (min-width: 768px) {
    .container {
      padding: 0 var(--space-xl);
    }
  }

  .article {
    margin-top: var(--space-xl);
  }
  @media screen and (min-width: 768px) {
    .article {
      margin-top: 0;
      margin-left: calc(var(--left-rail-width) + var(--padding-x));
      max-width: var(--main-width);
    }
  }
  .imageCredit {
    display: block;
    margin-top: var(--space-s);
  }
</style>
<style is:global>
  .article p:first-child {
    margin: 0;
  }
  .article h2 {
    margin-top: 5px;
  }
  .article h2:first-of-type + ul {
    margin-bottom: 63px;
    margin-top: 0;
    margin-left: 0;
  }
  @media screen and (min-width: 768px) {
    .article h2:first-of-type + ul {
      column-count: 2;
    }
  }
  .article ul {
    margin-left: 0;
  }

  .article ul strong {
    font-weight: 500;
  }

  .article iframe {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    .article iframe {
      width: var(--main-width);
    }
  }
</style>
<script>
  import { optimizeExternalLinks } from "../utils/utils.js";

  optimizeExternalLinks();

  document.addEventListener("astro:after-swap", optimizeExternalLinks);
</script>
