---
import "@fontsource/montserrat/100.css";
import "@fontsource/montserrat/200.css";
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";

import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";

import { AppConfig } from "../utils/AppConfig";
import Header from "../components/Header.astro";

const { title, description, ogImage } = Astro.props;
const { gtmID, twitterHandle } = AppConfig;

const gtmSRC = `https://www.googletagmanager.com/gtag/js?id=${gtmID}`

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<SEO
			title={title}
			description={description}
			openGraph={{
				basic: {
					title: title,
					type: "website",
					image: ogImage,
				}
			}}
			twitter={{
				creator: twitterHandle
			}}
			extend={{
				// extending the default link tags
				link: [{ rel: "icon", href: "/favicon.svg" }],
				// extending the default meta tags
				meta: [
				{
					name: "twitter:image",
					content: ogImage,
				},
				{ name: "twitter:title", content: title },
				{ name: "twitter:description", content: description },
				],
			}}
			/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<ViewTransitions />
	</head>
	<!-- Google tag (gtag.js) -->
	<script is:inline src={gtmSRC}></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-SS7Y3ZEB5P');
	</script>
	<body>
		<Header />
		<div class="headerOffset">
			<slot />
		</div>

		<style is:global>
			:root {
				--body-copy: #333;
				--padding-x: var(--space-xl);
				--header-height: 128px;
				--main-width: 680px;
				--left-rail-width: 22vw;

				/** From Golden Ratio CSS from https://grtcalculator.com/ */
				--space-xl: 45px;
				--space-l: 28px;
				--space-m: 17px;
				--space-s: 11px;
				--space-xs: 7px;
				--space-xxs: 4px;
				
				--font-xl: 42px;
				--font-l: 26px;
				--font-m: 20px;
				--font-s: 16px;
				--font-xs: 13px;
				--font-xxs: 11px;
				
				--line-xl: 55px;
				--line-l: var(--font-xl);
				--line-m: 33px;
				--line-s: var(--space-l);
				--line-xs: 23px;
				--line-xxs: var(--space-s);
			}
			html {
				font-family: "Montserrat", sans-serif;
				background: #fefefe;
				color: var(--body-copy);
				font-size: var(--font-s);
				line-height: var(--space-l);
			}
			body {
				margin: 0;
			}
			a {
				color: var(--body-copy);
			}
			ul {
				padding-left: 0;
				list-style: none;
			}
	
			/** From Golden Ratio CSS from https://grtcalculator.com/ */
			/* h1 { font-size: 33px; line-height: 53px;  font-weight: 500; margin-top: 45px; margin-bottom: var(--space-l); } */
			h2 {
				font-size: var(--font-xl);
				line-height: var(--line-xl);
				font-weight: 300;
				margin-top: 0;
				margin-bottom: var(--space-l);
			}
			h3 {
				font-size: var(--font-l);;
				line-height: var(--line-l);
				font-weight: 300;
				margin-top:  var(--space-xl);
				margin-bottom: var(--space-m);
			}
			h4 {
				font-size: var(--font-m);
				line-height: var(--line-m);
				font-weight: 300;
				margin-top:  var(--space-l);
				margin-bottom:  var(--space-s);
			}
			h5 {
				font-size: var(--font-s);
				line-height: var(--space-l);
				font-weight: 300;
				margin-bottom: var(--space-xs);
			}

			h1 + h2,
			h2 + h3,
			h2:first-of-type,
			h3:first-of-type {
				margin-top: 0;
			}
			p,
			ul,
			ol,
			blockquote,
			pre,
			img,
			.callout,
			.caption,
			.footnotes {
				margin-bottom: var(--space-l);
			}
			ul,
			ol {
				margin-left: var(--space-l);
			}
			ul ul,
			ul ol,
			ol ul,
			ol ol {
				margin-top: var(--space-s);
				margin-bottom: 0;
				margin-left: var(--space-m);
			}
			li {
				margin-bottom: var(--space-s);
			}
			blockquote {
				font-style: italic;
				border-left: 1px solid #ddd;
				padding: 0 1rem;
				color: #828282;
				margin-left: 0;
			}
			@media screen and (min-width: 768px) {
				blockquote {
					margin-left: 40px;
				}
			}

			sub,
			sup {
				line-height: 0.5em;
				color: #828282;
				padding: 0 1px;
			}
			small {
				font-size: var(--font-xs);
				line-height: var(--line-xs);
			}

			/* Utilities */

			@media screen and (min-width: 768px) {
				.headerOffset {
					margin-top: var(--header-height);
				}
			}

			/* Layout */

			@media screen and (min-width: 768px) {
				.left-rail {
					width: var(--left-rail-width);
					position: fixed;
					top: var(--header-height);
					left: var(--padding-x);
				}
			}
		</style>
		<style>
			@media screen and (min-width: 768px) {
				.container {
					padding;
				}
			}
		</style>
	</body>
</html>
