---
import "@fontsource/montserrat/100.css";
import "@fontsource/montserrat/200.css";
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";

import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";

import { AppConfig } from "../utils/AppConfig.mjs";
import Header from "../components/Header.astro";

import "../styles/global.css";

const { title, description, ogImage } = Astro.props;
const { gtmID, twitterHandle } = AppConfig;

const gtmSRC = `https://www.googletagmanager.com/gtag/js?id=${gtmID}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: ogImage,
        },
      }}
      twitter={{
        creator: twitterHandle,
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.svg" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: ogImage,
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <script is:inline async src={gtmSRC}></script>
    <script is:inline id="gtmConfigScript" data-gtmID={gtmID}>
      window.dataLayer = window.dataLayer || [];
      const gtmID = document
        .querySelector('script[id="gtmConfigScript"]')
        .getAttribute("data-gtmID");

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", gtmID);
    </script></head
  >
  <body>
    <Header />
    <div class="headerOffset">
      <slot />
    </div>
  </body>
</html>
